apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: default
data:
  # Placeholder values - will be overwritten by CI/CD or Terraform Output
  REDIS_HOST: "10.0.0.3" 
  REDIS_PORT: "6379"
